*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #1a45bcc9;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}